@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RamAcademy: eLearning Website</h1>
    <p class="lead">RamAcademy is a online learning website which is built in ASP.NET along with MVC5, Entity Framework, SQL Server, JavaScript, Twitter Bootstrap and Google APIs.</p>
    <p>Please find the source code here: <a href="https://github.com/seetarampatel/OnlineLearningWebsite" class="btn btn-success btn-md">GitHub Link &raquo;</a></p>
    <p>Free Bootstrap theme from: <a href="https://bootswatch.com/3/" class="btn btn-info btn-md">BootsWatch &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Why RamAcademy?</h2>
        <p>
            Nowadays online learning certifications are defined as one of the essential things that makes you different from others.
            You can take a course of your interest, and after completing your course, you get an e-learning certificate from RamAcademy.
        </p>
    </div>
    <div class="col-md-7">
        <h2>Get more with RamAcademy</h2>
        <p>
            We provide more than 25000 courses in all areas of education.
            All of our courses are taught by experts so that they can share their incredible knowledge with you.
            You can take a monthly subscription and choose the right courses for you.
            If you are not satisfied with the courses you have selected, we will guarantee you a 100% cash back. 
            Is that nice?
        </p>
    </div>
</div>
