@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RamAcademy: eLearning Website</h1>
    <p class="lead">RamAcademy is a online learning website which built using HTML, CSS and JavaScript, ASP.NET, MVC5, Entity Framework and SQL Server.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Why PatelAcademy?</h2>
        <p>
            Nowadays online learning certifications are defined as one of the essential things that makes you different from others.
            You can take a course of your interest, and after completing your course, you get an e-learning certificate from RamAcademy.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Get more with RamAcademy</h2>
        <p>
            We provide more than 25000 courses in all areas of education.
            All of our courses are taught by experts so that they can share their incredible knowledge with you.
            You can take a monthly subscription and choose the right courses for you.
            If you are not satisfied with the courses you have selected, we will guarantee you a 100% cash back. 
            Is that nice?
        </p>
    </div>
</div>